# Extra include dirs and libraries needed when Clam was built WITH external
# libraries (ldd and apron/elina). Included from Makefile when
# CLAM_EXTERNAL_LIBS=1.

# MPFR headers (needed by Apron/Elina)
CLAM_INCLUDE += -I$(MPFR_DIR)/include

# Apron or Elina relational-domain libraries
ifeq ($(ELINA_OR_APRON),ELINA)
    ELINA_OR_APRON_INSTALL := $(CLAM_INSTALL)/elina
    CLAM_LIBS += \
        $(ELINA_OR_APRON_INSTALL)/lib/libelinalinearize.so \
        $(ELINA_OR_APRON_INSTALL)/lib/libelinaux.so \
        $(ELINA_OR_APRON_INSTALL)/lib/liboptoct.so \
        $(ELINA_OR_APRON_INSTALL)/lib/liboptpoly.so \
        $(ELINA_OR_APRON_INSTALL)/lib/liboptzones.so \
        $(ELINA_OR_APRON_INSTALL)/lib/libpartitions.so
else
    ELINA_OR_APRON_INSTALL := $(CLAM_INSTALL)/apron
    CLAM_LIBS += \
        $(ELINA_OR_APRON_INSTALL)/lib/libpolkaMPQ.a \
        $(ELINA_OR_APRON_INSTALL)/lib/liboctD.a \
        $(ELINA_OR_APRON_INSTALL)/lib/libapron.a \
        $(ELINA_OR_APRON_INSTALL)/lib/libboxMPQ.a \
        $(ELINA_OR_APRON_INSTALL)/lib/libitvMPQ.a
endif

# LDD (boxes) libraries (only if Clam was built with -DCRAB_USE_LDD=ON)
ifeq ($(CLAM_USE_LDD),1)
    LDDINSTALL := $(CLAM_INSTALL)/ldd
    CLAM_LIBS += \
        $(LDDINSTALL)/lib/libtvpi.a \
        $(LDDINSTALL)/lib/libcudd.a \
        $(LDDINSTALL)/lib/libst.a \
        $(LDDINSTALL)/lib/libutil.a \
        $(LDDINSTALL)/lib/libmtr.a \
        $(LDDINSTALL)/lib/libepd.a \
        $(LDDINSTALL)/lib/libldd.a
endif

# Extra link flags
MPFR_LDFLAGS := -L$(MPFR_DIR)/lib -lmpfr
SYS_LIBS     := -lncurses -lpthread -lz
